.container {
    height: 410px;
}

.column {
    width: 50%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}

.photo {
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    border-top-left-radius: 5px;
}

.content {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.left {
    position: relative;
}

.right {
    padding: 29px 39px;
    background: url('./images/r.svg') no-repeat right -65px;
    border-top-right-radius: 5px;
}

.header {
    margin-bottom: 103px;
}

.title {
    font-size: 20px;
    font-weight: 500;
    line-height: 2.25;
    color: #ffffff;
    margin-left: 15px;
}

.text {
    font-size: 30px;
    line-height: 1;
    color: #ffffff;
}

.preview {
    height: 150px;
    font-size: 18px;
    line-height: 1.67;
    color: #ffffff;
    margin-bottom: 20px;
    overflow: hidden;
    white-space: normal;
}

.name {
    display: inline-block;
    vertical-align: middle;
}

.video {
    width: 92px;
    height: 70px;
    display: inline-block;
    vertical-align: middle;
    background: url('./images/video.svg') no-repeat;
    margin-right: 17px;
}