.button {
    display: block;
    background-color: transparent;
    border-radius: 25px;
    border: solid 1px rgba(255, 255, 255, 0.5);
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.4s;
    outline: none;
}

.button:hover {
    background-color: rgb(256, 256, 256, .25);
}

.title {
    font-size: 16px;
    color: #ffffff;
}