.container {
    border-radius: 5px;
    border: solid 1px #ffffff;
    padding: 5px 10px;
    box-sizing: border-box;
} 

.icon {
    width: 12px;
    height: 16px;
    vertical-align	: middle;
    margin-right: 5px;
}

.title {
    font-size: 16px;
    line-height: 1.56;
    color: #ffffff;
}