.container {
    display: inline-block;
}

.button {
    width: 50px;
    height: 40px;
    border: solid 1px #d8d8d8;
    cursor: pointer;
    padding: 0;
    transition: background-color 0.4s;
    outline: none;
    box-sizing: border-box;
}

.left {
    border-radius: 55px 0 0 55px;
    background: url('./images/arrow_left.svg') no-repeat center #ffffff;
}

.left:hover {
    border: solid 1px #000000;
    background: url('./images/arrow_left__hover.svg') no-repeat center #000000;
}

.right {
    border-left: 0;
    border-radius: 0 55px 55px 0;
    background: url('./images/arrow_right.svg') no-repeat center #ffffff;
}

.right:hover {
    border: solid 1px #000000;
    background: url('./images/arrow_right__hover.svg') no-repeat center #000000;
}
