.container {
    width: 1200px;
    margin: 0 auto;
}

.title {
    font-size: 50px;
    margin-bottom: 22px;
}

.header {
    position: relative;
}

.buttons {
    position: absolute;
    top: 0;
    right: 0;
}

