.content {
    width: 25%;
    display: inline-block;
    cursor: pointer;
    padding: 20px;
    border-left: solid 1px #d8d8d8;
    box-sizing: border-box;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    transition: background-color 0.4s;
}

.content:first-child {
    border-bottom-left-radius: 5px;
}

.content:last-child {
    border-right: solid 1px #d8d8d8;
    border-bottom-right-radius: 5px;
}

.category {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 8px;
    color: #ffffff;
}

.text {
    color: #000000;
}

.text_active {
    color: #ffffff;
}

.photo {
    width: 60px;
    height: 60px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 19px;
}

.photo_active {
    filter: grayscale(100%);
}

.inner {
    display: inline-block;
    vertical-align: top;
}
